#header{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.myh1{
font-size: 4em;
width: 100px;
}

.myspan{
display: inline-block;
align-self: flex-end;
font-size: 3em;
margin-top:20px;
margin-bottom: 10px;
}

.test{
    padding: 1%;
}