.header{
    display: flex;
    align-content: space-between;

}

.myh1{
font-size: 4em;
width: 100px;
}

.myspan{
align-self: flex-end;
margin-left: auto;
font-size: 3em;
margin-top:20px;
margin-bottom: 10px;
}

.test{
    padding: 1%;
}